$eb-fonts-small: (

    'desktop': (
        'small': 14px,
    ),

    'smartphone': (
        'small': 12px,
    ),

    'tablet': (
        'small': 14px,
    ),

);

$eb-fs-small: eb-device-get($eb-fonts-small, 'small');

@if ($eb-fonts-cssvars == true) {
    :root {
      --fs-small: $eb-fs-small;
  }
}

@if ($eb-fonts-classes == true) {
    .fs-small {
      font-size: $eb-fs-small;
    }
}
