$eb-fonts-xsmall: (

    'desktop': (
        'xsmall': 12px
    ),

    'smartphone': (
        'xsmall': 10px
    ),

    'tablet': (
        'xsmall': 12px
      )

);

$eb-fs-xsmall: eb-device-get($eb-fonts-xsmall, 'xsmall');

@if ($eb-fonts-cssvars == true) {
    :root {
      --fs-xsmall: #{$eb-fs-xsmall};
  }
}

@if ($eb-fonts-classes == true) {
    .fs-xsmall {
      font-size: $eb-fs-xsmall;
    }
}
