$eb-fonts-xxlarge: (

    'desktop': (
        'xxlarge': 30px
    ),

    'smartphone': (
        'xxlarge': 30px
    ),

    'tablet': (
        'xxlarge': 30px
    ),

);

$eb-fs-xxlarge: eb-device-get($eb-fonts-xxlarge, 'xxlarge');

@if ($eb-fonts-cssvars == true) {
    :root {
      --fs-xxlarge: #{$eb-fs-xxlarge};
  }
}

@if ($eb-fonts-classes == true) {
    .fs-xxlarge {
      font-size: $eb-fs-xxlarge;
    }
}
