$eb-fonts-xxxlarge: (

    'desktop': (
        'xxxlarge': 50px
    ),

    'smartphone': (
        'xxxlarge': 36px
    ),

    'tablet': (
        'xxxlarge': 50px
    ),

);

$eb-fs-xxxlarge: eb-device-get($eb-fonts-xxxlarge, 'xxxlarge');

@if ($eb-fonts-cssvars == true) {
    :root {
      --fs-xxxlarge: #{$eb-fs-xxxlarge};
  }
}

@if ($eb-fonts-classes == true) {
    .fs-xxxlarge {
      font-size: $eb-fs-xxxlarge;
    }
}
