@import "../sizes/xxsmall";

$eb-fs-ads: $eb-fs-xxsmall;

@if ($eb-fonts-cssvars == true) {
  :root {
    --fs-ads: #{$eb-fs-ads};
  }
}

@if ($eb-fonts-classes == true) {
  .fs-ads {
    font-size: $eb-fs-ads;
    line-height: normal;
  }
}
