@import "../sizes/large";

$eb-fs-bodytext: $eb-fs-large;

@if ($eb-fonts-cssvars == true) {
    :root {
      --fs-bodytext: #{$eb-fs-bodytext};
  }
}

@if ($eb-fonts-classes == true) {
  .fs-bodytext {
    font-size: $eb-fs-bodytext;
    line-height: normal;
  }
}
