@import "../sizes/small";

$eb-fs-caption: $eb-fs-small;

@if ($eb-fonts-cssvars == true) {
    :root {
      --fs-caption: $eb-fs-caption;
  }
}

.fs-caption {
  font-size: $eb-fs-caption;
  line-height: normal;
}
