@import "../sizes/xxlarge";

$eb-fs-quote: $eb-fs-xxlarge;

@if ($eb-fonts-cssvars == true) {
    :root {
      --fs-quote: $eb-fs-quote;
  }
}

@if ($eb-fonts-classes == true) {
  .fs-quote {
    font-size: $eb-fs-quote;
    line-height: normal;
  }
}
