@import "../sizes/medium";

$eb-fs-showmore: $eb-fs-medium;

@if ($eb-fonts-cssvars == true) {
    :root {
      --fs-showmore: #{$eb-fs-showmore};
  }
}

@if ($eb-fonts-classes == true) {
  .fs-showmore {
    font-size: $eb-fs-showmore;
    line-height: normal;
  }
}
