@import "../sizes/xlarge";

$eb-fs-subtitle: $eb-fs-xlarge;

@if ($eb-fonts-cssvars == true) {
  :root {
    --fs-subtitle: #{$eb-fs-subtitle};
  }
}

@if ($eb-fonts-classes == true) {
  .fs-subtitle {
    font-size: $eb-fs-subtitle;
    line-height: normal;
  }
}
