@import "../sizes/xxxlarge";

$eb-fs-title: $eb-fs-xxxlarge;

@if ($eb-fonts-cssvars == true) {
    :root {
      --fs-title: $eb-fs-title;
  }
}

.fs-title {
  font-size: $eb-fs-title;
  line-height: normal;
}
